.btn {
    background:#000000;
    padding:10px;
}
.btn.customer-btn {
    left: 5%;
}
.total {
    font-size:32px;
}
.quick-links-toolbar {
    height: 36px;
    margin-bottom: 5px;
}
.quick-links-toolbar a {
    position: relative;
    top: 10px;
}