<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reign Wholesale Order placed {{ order_id }} by {{ sales_rep_id }}</title>
</head>
<body>
Dear {{ sales_rep_id }}
<p>thank you for placing an order on behalf of your customer, Prolife distribution will now create the order in their system and ensure the stock is sent out direct to your customer, we will keep you informed of order changes or any issues.</p>
<p>If you have any questions please call our customer service team on 02085272016 where we will be more than happy to assist you.</p>
<h3>Order Summary:</h3>
<p>Order ID: {{order_id}}</p>
<p>Notes: {{ order_notes }}</p>
<h4>Shipping Details:</h4>
<p>Address: {{ customer_address }}</p>
<h4>Customer Details:</h4>
<p>Phone: {{ customer_phone }}</p>
{% if customer_mobile %}
<p>Mobile: {{ customer_mobile }}</p>
{% endif %}
<p>Email: {{ customer_email }}</p>
<h4>Order Details:</h4>
<table border="1">
    <thead>
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Amount
        </th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.amount}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>Total Amount: {{ total_amount }}</p>
<br>
Kind regards
<br>
Prolife Distribution Team
</body>
</html>